/*
Styles for the floor plans
 */

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: relative;
}

.room {
    position: absolute;
    width: 60%;
    top: 55px;
    left: 304px;
}