{# floor4.html #}
{# template for displaying the 4th floor of the library #}

{% extends "html/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/map.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="style/css" />

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <a class="navbar-brand" href="#"><font size="5">FLOM</font></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item gray scroll">
        <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item gray scroll"> 
        <a class="nav-link" href="/3/">Floor 3</a>
      </li>

      <li class="nav-item red scroll"> 
        <a class="nav-link" href="/4/"><font color="white">Floor 4</font></a>
      </li>

      <li class="nav-item gray scroll dropdown">

        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Room Usage
        </a>
          <div class="dropdown-content">
          <a href="/stats/">Floor 3</a>
          <a href="/stats/">Floor 4</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<img src="{% static 'floor4template.png' %}" alt="Floor4" class="map" id="floor-plan" />
{% for room, stats in floor.items %}
{% if stats.occupied %}
{% with "floor4/images/"|add:room|add:"_red.png" as occupied %}
<img src="{% static occupied %}" alt="Floor4" class="map" />
{% endwith %}
{% else %}
{% with "floor4/images/"|add:room|add:".png" as unoccupied %}
<img src="{% static unoccupied %}" alt="Floor4" class="map" />
{% endwith %}
{% endif %}
{% endfor %}

{% endblock %}
