{# navbar.html #}
{# The menu bar seen on all pages #}
{% load static %}

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <a class="navbar-brand">Folsom Library Occupancy Monitor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="navbar-nav">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <a class="navbar-brand" href="#">FLOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link" id="main-menu" href="/3/">Floor 3</a></li>
      <li><a class="nav-item nav-link" id="main-menu" href="/4/">Floor 4</a></li>
      <li><a class="nav-item nav-link" id="main-menu" href="/about/">About</a></li>
      <li><a class="nav-item nav-link" id="main-menu" href="/stats/">Room Usage</a></li>
      <li><a class="nav_item nav-link" id="main-menu" href="/">Logout</a></li>
    </ul>
  </div>
</nav>