{# about.html #}
{# template for displaying the about page (prolly like a paragraph about our tech stack) #}
{% extends "main.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-xl-offset-2 about">
            <h2>FLOM</h2>
            <p>FLOM is a project created by 10 students at Rensselaer Polytechnic Institute as a project to learn software and hardware developement. More specifically we use Django framework along </p>
        </div>
    </div>
</div>
{% endblock %}


