{# about.html #}
{# template for displaying the about page (prolly like a paragraph about our tech stack) #}
{% extends "main.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-xl-offset-2 about">
            <h2>FLOM</h2>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <div class="about" style = "align-items: right; margin-left: 15%; margin-right: 15%;">
            <h2>Flom</h2>
            <p>FLOM (Folsom Library Occupancy Monitor) is an open source project made by students in the Rensselaer Community of Open Source class at RPI. Our mission was to provide students with a helpful application that allows them to see which study rooms are available before going to the library. The web app was also a learning experience in full stack developement. FLOM uses the Django framework with Postgresql as the database.</p>
            <a href="https://github.com/FolsomLibraryOccupanyMonitor"  style = "font-size: 3rem;"> 
						<i class="fab fa-github"></i>
			</a> 
        </div>

    </div>
</div>
{% endblock %}


