{# about.html #}
{# template for displaying the about page (prolly like a paragraph about our tech stack) #}
{% extends "main.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-xl-offset-2 about">
            <h2>Flom</h2>
            <p>To untie someones shoe lace while they are'nt looking. So they get pissed off and have to retie it.
            Repeat to annoy. <br> "Damnit Kevin, thats the 4th time you've flommed me"</p>
        </div>
    </div>
</div>
{% endblock %}


