{# floor3.html #}
{# template for displaying the 3rd floor of the library #}
{% extends "main.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'library_monitor/styles/map.css' %}" type="text/css" />
{% endblock %}

{% block body %}
    <img src="{% static 'library_monitor/images/f3_nobg.png' %}" alt="Floor3" class="map"/>
    {% for room, occup in floor.items %}
        {% if room == '353B' and occup.0 %}
            <img src="{% static 'library_monitor/images/353b_red.png' %}" alt="Floor3" class="map"/>
        {% elif room == '353B' %}
            <img src="{% static 'library_monitor/images/353b.png' %}" alt="Floor3" class="map"/>
        {% endif %}
        {% if room == '333' and occup.0 %}
            <img src="{% static 'library_monitor/images/333_red.png' %}" alt="Floor3" class="map"/>
        {% elif room == '333' %}
            <img src="{% static 'library_monitor/images/333.png' %}" alt="Floor3" class="map"/>
        {% endif %}
        {% if room == '336' and occup.0 %}
            <img src="{% static 'library_monitor/images/336_red.png' %}" alt="Floor3" class="map"/>
        {% elif room == '336' %}
            <img src="{% static 'library_monitor/images/336.png' %}" alt="Floor3" class="map"/>
        {% endif %}
    {% endfor %}
{% endblock %}
