{# floor4.html #}
{# template for displaying the 4th floor of the library #}

{% extends "main.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'library_monitor/styles/map.css' %}" type="text/css" />
{% endblock %}

{% block body %}
    <img src="{% static 'library_monitor/images/f4_nobg_s.png' %}" alt="Floor3" class="map"/>
    {% for room, stats in floor.items %}
        {% if stats.occupied %}
            {% with "library_monitor/images/"|add:room|add:"_red.png" as occupied %}
                <img src="{% static occupied %}" alt="Floor4" class="map"/>
            {% endwith %}
        {% else %}
            {% with "library_monitor/images/"|add:room|add:".png" as unoccupied %}
                <img src="{% static unoccupied %}" alt="Floor4" class="map"/>
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endblock %}