{# navbar.html #}
{# The menu bar seen on all pages #}
{% load static %}

<!-- <base href="http://127.0.0.1:8000/" /> -->
<nav class="navbar collapse navbar-collapse navbar-expand-lg navbar-light bg-light" role="navigation">
  <a class="navbar-brand">Folsom Library Occupancy Monitor</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ul class="nav navbar-nav navbar-right">

        <li><a class="nav-item nav-link" id="main-menu" href="/3/">Floor 3</a></li>
        <li><a class="nav-item nav-link" id="main-menu" href="/4/">Floor 4</a></li>
        <li><a class="nav-item nav-link" id="main-menu" href="/about/">About</a></li>
        <li><a class="nav-item nav-link" id="main-menu" href="/stats/">Room Usage</a></li>
      </ul>
    </div>
  </div>
</nav>
