<!-- templates/html/login.html -->
<div> </div>   <!-- not sure why this needs ot be here but without it the image styling does not occur -->

<!DOCTYPE html>
{# main.html #}
{# This is the main file / big kahuna / dad for the map homepage #}
{% extends "html/main.html" %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        {# style sheets do not need to be repeated as main.html includes scripts #}
        <title>{% block title %}FLOM Login{% endblock %}</title>
    </head>

    <body>
        {% block body %}
        {# <!-- styling for body of page that holds login block--> #}
        <div name = "main"
          style="background-color:
            white; display: block;
            border-radius: 10px;
            margin:auto;
            margin-top: 30px;
            text-align: center;
            width: 50%;
            padding: 10px;">
             {# <!--logo --> #}
            <img src="{% static 'images/logo1.jpg' %}" alt="FLOM Logo"
            style="margin: auto;
              wdith: 50%;
              height: 40%;
              padding: 10px;">
		      <form method="post">    {# <!-- form user inputs login info --> #}
			      {% csrf_token %}
			      {{ form.as_p }}
             {# <!-- login button --> #}
			    <button type="submit"
            style="background-color: black;
              border: none;
              color: white;
              font-weight: bold;
              padding: 10px 27px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 3px;
              cursor: pointer;"
              >Login
          </button>
		      </form>
	       </div>
        {% endblock %}
    </body>
</html>
