{# stats.html #}

{% extends "html/main.html" %}
{% load static %}
{% block body %}
<table>
    <thead>
        <tr>
        {% for item in stats %}
            {% for h in item %}
                <th>{{ h }}</th>
            {% endfor %}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in stats %}
            <tr>
                {% for key,value in item.items %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
