{# stats.html #}

{% extends "html/main.html" %}
{% load static %}
{% block body %}
{% with titles=available_stats.titles rows=available_stats.row_info range=available_stats.range %} 
<table class="table table-hover stats_table">
	<thead class = "thead-dark">
		<tr>
	    	{% for title in titles %} 
	    		<th scope="col">{{title}}</th>
	    	{%endfor%}
	    </tr>
    </thead>
    {% for i in range %}
		<tr class='row_text'>
			<td>{{ rows.id.i }}</td>
			<td>{{ rows.date.i }}</td>
			<td>{{ rows.total_occupants.i }}</td>
			<td>{{ rows.occupancy_time.i }}</td>
		</tr>
    {% endfor %}
</table>
{% endwith %}

{% endblock %}
