


<!DOCTYPE html>




<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FLOM</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="/static/scripts/jquery-3.3.1.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
        </script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="github.png">

       <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i" rel="stylesheet">
       <meta name="theme-color" content="#ffffff">

        
        
        



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <a class="navbar-brand">Folsom Library Occupancy Monitor</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="navbar-nav">
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
  </div>
</nav> -->

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <a class="navbar-brand" href="#">FLOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link" id="main-menu" href="/about/">About</a></li>
       <li><a class="nav-item nav-link" id="main-menu" href="/3/">Floor 3</a></li>
      <li><a class="nav-item nav-link" id="main-menu" href="/4/">Floor 4</a></li>
      <li><a class="nav-item nav-link" id="main-menu" href="/stats/">Room Usage</a></li>
    </ul>
  </div>
</nav>
-->
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <a class="navbar-brand" href="#">FLOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item red scroll">
        <a class="nav-link" href="about.html">About<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item gray scroll"> 
        <a class="nav-link" href="../../floor3/templates/floor3.html">Floor 3</a>
      </li>

      <li class="nav-item gray scroll"> 
        <a class="nav-link" href="#">Floor 4</a>
      </li>

      <li class="nav-item gray scroll dropdown">

        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Room Usage
        </a>
          <div class="dropdown-content">
          <a href="#">Floor 3</a>
          <a href="#">Floor 4</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-content">
          <a href="#">Account</a>
          <a href="#">Sign in</a>
          <a href="#">Sign out</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://github.com/FolsomLibraryOccupanyMonitor" >
            <i class="fab fa-github"></i> 
        </a>
      </li>



    </ul>
  </div>
</nav>
<!--/.Navbar -->


    </head>
    <body>



<div class="container">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <div class="about" style = "align-items: right; margin-left: 15%; margin-right: 15%;">
            <div class="text-center"><img src="library.jpg" alt="library"></div><br>
            <br>
          
            <p class="lead">Folsom Library Occupancy Monitor</p>

            <p>FLOM (Folsom Library Occupancy Monitor) is an open source project made by students in the Rensselaer Community of Open Source class at RPI. Our mission was to provide students with a helpful application that allows them to see which study rooms are available before going to the library. If you have any issues or find any bugs, please raise an issue at this <a href = "https://github.com/FolsomLibraryOccupanyMonitor/FLOM/issues">link</a>.</p>
            <p style="margin-left: 45%;"> 
            	<a href="https://github.com/flomv2/FLOM"  style = "font-size: 3rem;"> <i class="fab fa-github"></i> </a> 
        
        <div class = "links" style = "align-items: right;">
				Developers (Spring 2019): <a href = "https://github.com/prashb99">prashb99</a>, <a href = "https://github.com/Wixby">Wixby</a>, <a href = "https://github.com/jgaltman">jgaltman</a>, <a href = "https://github.com/youngcc3157">youngcc3157</a>, <a href = "https://github.com/kaijianZ">kaijianZ</a>, <a href = "https://github.com/jingsting">jingsting</a> <br>
        Developers (Summer 2019): <a href = "https://github.com/prashb99">prashb99</a>, 
				</div>
			</p>
        </div>

    </div>
</div>

    </body>
</html>
