{# about.html #}
{# template for displaying the about page (prolly like a paragraph about our tech stack) #}
{% extends "html/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="style/css" />
{% endblock %}

{% block body %}
<div class="container">
   <div class="about" >
      <img src="{% static 'images/library.png' %}" alt="Library" class="image" id="floor-plan" />
      <div class="overlay">
         <div class="text">
            <b><h4>Folsom Library Occupancy Monitor</h4></b>
            <p>FLOM (Folsom Library Occupancy Monitor) is an open source project
             made by students in the Rensselaer Community of Open Source class
             at RPI. Our mission was to provide students with a helpful application
             that allows them to see which study rooms are available before going
             to the library. If you have any issues or find any bugs, please raise
             an issue at this
             <a href = "https://github.com/flomv2/FLOM/issues">link</a>.
            </p>
            <h4> How to use the App? </h4>
            <p>See the navigation bar floating at the top of the webpage? Just
             click the floor you want to study on and check online the availability!
            <br>For a more detailed tutorial, go throught the
            <a href = "https://github.com/flomv2/FLOM/wiki">WIKI</a> page.
            </p>
            <b><h4>Join Us!</h4></b>
            <p>If you are interested in this project, please check the github page and contact our main developer.</p>
             <a href="https://github.com/flomv2/FLOM"  style = "font-size: 2rem;"> <i class="fab fa-github"></i></a>
             <div class = "links" style = "align-items: right;">
                Developers (Spring 2019): <a href = "https://github.com/prashb99">prashb99</a>, <a href = "https://github.com/Wixby">Wixby</a>, <a href = "https://github.com/jgaltman">jgaltman</a>, <a href = "https://github.com/youngcc3157">youngcc3157</a>, <a href = "https://github.com/kaijianZ">kaijianZ</a>, <a href = "https://github.com/jingsting">jingsting</a>
                <br>
                Developers (Summer 2019): <a href = "https://github.com/prashb99">prashb99</a>, <a href = "https://github.com/Jason-Durr">Jason-Durr</a>, <a href = "https://github.com/SquidThePrinter">SquidThePrinter</a>, <a href = "https://github.com/pangtsu">Jiawen-Lin</a>, <a href = "https://github.com/Jcherella">Jcherella</a>, <a href = "https://github.com/barnesv17">barnesv17</a>,  <a href = "https://github.com/emansyl">Emmanuel Sylvester</a>, <a href = "https://github.com/ChrisReed0114">ChrisReed0114</a>, <a href = "https://github.com/UnMcDanno">Junyi Zhang</a>
             </div>
         </div>
      </div>
   </div>
   <footer class="center" style="color:white;">Stuck? Hover over image!</footer>
</div>
{% endblock %}
