/*
    Main styles
 */

html {
    font-family: "Segoe UI Semibold", sans-serif;
    color: #ffffff;
}

body {
    background: linear-gradient(to left, #3e3e3f, #2d2d2e);
}

.about {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.stats_table {
	padding: 100px;
}